@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        scroll-behavior: smooth;
    }
}

.background-fade {
    background: rgb(255,200,126);
    background: linear-gradient(24deg, rgba(255,200,126,1) 17%, rgba(255,253,220,1) 66%, rgba(220,230,255,1) 92%);
    background-attachment: fixed;
}

.fadeout-mask {
  --mask: linear-gradient(to bottom, 
      rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
      rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;
  
  border: 1px #d8d8d8 dashed;
  -webkit-mask: var(--mask); 
  mask: var(--mask);
}


@variants group-hover, hover, focus {
    .notebook-input{
        background: rgb(255,128,109);
        background: linear-gradient(144deg, rgba(255,128,109,0.8323530095632002) 35%, rgba(255,239,0,0) 65%);
        background-size: 200% 100%;
        background-repeat: no-repeat;
    }

    .notebook-unfocused {
        background-position: 150% 0%;
    }
    
    .notebook-hover {
        background-position: 50% 0%;
    }

    .notebook-focused {
        background-position: 0% 0%;
    }

    .project-input{
        background: rgb(255,128,109);
        background: linear-gradient(234deg, rgba(255,128,109,0.8323530095632002) 35%, rgba(255,239,0,0) 65%);
        background-size: 200% 100%;
        background-repeat: no-repeat;
    }

    .project-unfocused {
        background-position: -50% 0%;
    }
    
    .project-hover {
        background-position: 50% 0%;
    }

    .project-focused {
        background-position: 100% 0%;
    }
}


